header{
  
}
.navbar{

}
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar li {
    padding: 10px;
  }
.navbar a {
    color: black;
    text-decoration: none;
  }
.navbar a:hover {
    background-color: #555;
  }

body{
    background-color: cadetblue;
    display: flex;
   flex-direction: column;
   min-height: 100vh;
   margin: 0;
}
.content {
  flex: 1;
}
footer{
  padding: 20px;
}
.login{
    display: flex;
    top: 0;
    right: 0;
    position: absolute;
    padding: 20px;
    /* border: 1px solid #ccc; adds a thin border around the div*/ 
}
.search-bar{
    display: flex;
    text-align: center;
    justify-content: center;
}
.recent-catches{
  display: flex;
  text-align: center;
  justify-content: right;
}
.pokemon-storage{
   
}
.credits{

}