header{
  
}
.navbar{

}
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar li {
    padding: 10px;
  }
.navbar a {
    color: white;
    text-decoration: none;
  }
.navbar a:hover {
    background-color: #555;
  }

body{
    background-color: cadetblue;
    
}
footer{

}
.login{
    display: flex;
    top: 0;
    right: 0;
    position: absolute;
    padding: 20px;
    /* border: 1px solid #ccc; adds a thin border around the div*/ 
}
.search-bar{
    
}
.recent-catches{
   
}
.pokemon-storage{
   
}
.credits{

}